@{
    ViewData["Title"] = "Privacy Policy";
Layout = null;
}
@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/admin/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
  
    <link href="~/admin/css/style.css" rel="stylesheet" />
    <link href="~/admin/css/style-responsive.css" rel="stylesheet" />
    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <div id="login-page">
        <div class="container">
            <form class="form-login" asp-controller="Login" method="post" asp-action="RegisterExecute" >
                <h2 class="form-login-heading">sign up now</h2>
                <div class="login-wrap">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" autofocus>
                    <br>
                    <input asp-for="MiddleName" type="text" class="form-control" placeholder="Middle Name" autofocus>
                    <br>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" autofocus>
                    <br>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="Username" autofocus>
                    <br>
                    <input asp-for="Password" type="password" minlength ="6" maxlength="12" class="form-control" placeholder="Password">
                    <br />
                    <input asp-for="ConfirmPassword" minlength ="6" maxlength="12" type="password" class="form-control" placeholder="Confirm Password">
                    <br />
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" autofocus>
                    <br>
                    <input asp-for="Address" type="text" class="form-control" placeholder="Address" autofocus>
                    <br>
                    <input asp-for="PhoneNumber" type="text" id="phoneNumber" maxlength="12" class="form-control" placeholder="Phone Number" autofocus>
                    <br>
                    <input type="hidden" asp-for="Role" value="customer" />
                    <center>
                        Male <input asp-for="Gender" value="Male" type="radio" placeholder="User ID" autofocus>
                        Female <input asp-for="Gender" value="Female" type="radio" placeholder="User ID" autofocus>
                    </center>
                    <br>
                    <label class="checkbox">

                    </label>
                    <div class="alert alert-danger validation" asp-validation-summary="All"></div>


                    <div style="width:100%;font-size:11px" class="alert alert-danger message">
                        @Html.DisplayFor(a => a.Message)
                    </div>

                    <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
                    <hr>

                    <div class="registration">
                        Already have an account?<br />
                        <a class="" asp-controller="Login" asp-action="Index">
                            Login
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Forgot Password ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-theme" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->
            </form>
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/admin/lib/jquery/jquery.min.js"></script>
    <script src="~/admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/admin/lib/jquery.backstretch.min.js"></script>
    <script>
    $.backstretch("../admin/img/login-bg.jpg", {
      speed: 500
    });
    </script>
</body>

</html>

<script>

        var mess = "@Model.Message";
        if (mess == "") {
            $('.message').hide();
        }



    if ($('.validation').text().trim() == "") {
        $('.validation').hide();
    }


      $("#phoneNumber").keypress(function (e)
     {
     //if the letter is not digit then display error and don't type anything
     if( e.which!=8 && e.which!=0 && (e.which<48 || e.which>57))
     {
     return false;
     }
     });

</script>

