@{
    ViewData["Title"] = "About us";
    Layout = "FrontEnd";
}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">To be a reliable partner to the customer.</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->
<!--/ About Star /-->
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-img-box">
                    <img src="~/img/boiler.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">
                        JPP Boiler
                        <span></span>
                        <br> Repair & Services
                    </h3>
                    <p>Since 2008</p>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="~/img/jpp.jpg" alt="" class="img-fluid">
                    </div>
                 
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">
                                JPP
                                <span class="color-d"> Boiler</span> Repair &
                                <br> Services.
                            </h3>
                        </div>
                        <p class="color-text-a">
                           The company is well equipped and gained prominence in the boiler repair and troubleshooting business thru its qualified engineers and technical staff that have over twenty years experience in boiler servicing.
Through the years, the company enhanced its technical expertise in other engineering works. Listed below are the scopes of services that we offer to our clients.
                        </p>
                        <p class="color-text-a">
                           The company is also engaged in the supply of brand new coal-fired and bunker/diesel-fired boilers. We are accredited to locally install ZOZEN, LIN CHARNG AND LONG CHUAN Boilers. We also offer reconditioned boilers, boiler spare parts and other materials listed below.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ About End /-->
<!--/ Team Star /-->
<section class="section-agents section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Meet Our Team</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="~/img/1s.jpg" alt="" class="img-d img-fluid">
                    </div>
                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="~/img/2s.jpg" alt="" class="img-d img-fluid">
                    </div>
                  
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="~/img/3s.jpg" alt="" class="img-d img-fluid">
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>