
@{
    ViewData["Title"] = "ServiceCompleted";
    Layout = "~/Views/Shared/BackEnd.cshtml";
}

<section id="main-content">
    <div class="wrapper">
        <h2>Service  Completed!</h2>

</div>
</section>