
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "BackEnd";
}
    <link href="~/admin/lib/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />

<section id="main-content">
    <div class="wrapper">

        <h3><i class="fa fa-angle-right"></i>Reports </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">

                <div class="form-panel">
                    <h1></h1>
                    <div class="row">
                        <div class="col-md-2">
                            Choose Reports
                            <select id="report" name="name" class="form-control" style="width:200px;">
                                <option value="User Masterlist">User Masterlist</option>
                                <option value="Sales Report">Sales Reports</option>
                                <option value="Products Report">Products Report</option>
                                <option value="Top Customers">Top Customer</option>
                            </select>
                        </div>
                      
                        <div class="col-md-6">
                            <br />
                            <div class="form-group">
                                <label class="control-label col-md-3">Date Range</label>
                             
                                    <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                                        <input type="text" id="startDate" class="form-control dpd1" name="from">
                                        <span class="input-group-addon">To</span>
                                        <input type="text" id="endDate" class="form-control dpd2" name="to">
                                    </div>
                                
                           
                            </div>
                        </div>
                      
                        <div class="col-md-2">
                            <br />
                            <button id="showData" class="btn btn-success"> <span class="fa fa-print"></span> Generate</button>
                        </div>
                    </div>
                    <div id="Reports"></div>

                </div>


            </div>

        </div>
    </div>
</section>
<style>
    thead, th {
        text-align: center;
    }

    .dt-head-center {
        text-align: center;
    }
    /* OR */

    .table thead,
    .table th {
        text-align: center;
    }
</style>

<script>

    $('#showData').click(function () {

        var report = $('#report').val();
        var d1 = $('#startDate').val();
        var d2 = $('#endDate').val();

        d1.substr(0, 10);
        $.ajax({

            url: 'Reports/GetThis/',
            type: 'get',
            data: { name: report, start: d1, end: d2 },
            success: function (x) {

                $(document).ready(function () {
                    $('#Reports').html(x);

                });
                $('#userList').DataTable({

                    responsive: true,
                    lengthChange: false,
                    "order": [],
                    "sScrollX": "100%",
                    "scrollCollapse": true,
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'print',
                            title: '',
                            customize: function (win) {
                                $(win.document.body)
                                    .css({ 'font-size': '15pt' })
                                    .prepend(
                                        '<h1 id="header"></h1><img  style="margin-left:250px; height:150px; text-align:center; z-index:5000; width:150px; top:0; left:0;" src="https://i.ibb.co/kMCSXcL/jpp.jpg" />'
                                    );

                                $(win.document.body).find('table')
                                    .addClass('compact')

                            }
                        }, 'excelHtml5', {
                            extend: 'pdf',
                            download: 'open',
                        }
                    ]

                });

            }
        });



    });





</script>

<script>

</script>
<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>


<script class="include" type="text/javascript" src="~/admin/lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/admin/lib/jquery.scrollTo.min.js"></script>
<script src="~/admin/lib/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/admin/lib/common-scripts.js"></script>
<!--script for this page-->
<script src="~/admin/lib/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="~/admin/lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>

<script type="text/javascript" src="~/admin/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script type="text/javascript" src="~/admin/lib/bootstrap-daterangepicker/date.js"></script>
<script type="text/javascript" src="~/admin/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/admin/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="~/admin/lib/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/admin/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="~/admin/lib/advanced-form-components.js"></script>
