
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "BackEnd";
}



<section id="main-content">
    <div class="wrapper">

        <h3><i class="fa fa-angle-right"></i>Reports </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">

                <div class="form-panel">
                    <h1></h1>
                    <div class="row">
                        <div class="col-md-2">
                            Choose Reports
                            <select id="report" name="name" class="form-control" style="width:200px;">
                                <option value="User Masterlist">User Masterlist</option>
                                <option value="Sales Report">Sales Reports</option>
                                <option value="Products Report">Products Report</option>
                                <option value="Top Customers">Top Customer</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            Start Date
                            <input id="startDate" name="start" class="form-control" style="width:200px;" type="date" />
                        </div>
                        <div class="col-md-2">
                            End Date
                            <input id="endDate" name="end" class="form-control" style="width:200px;" type="date" />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <button id="showData">ShowData</button>
                        </div>
                    </div>
                    <div id="Reports"></div>

                </div>


            </div>

        </div>
    </div>
</section>
<style>
    thead, th {text-align: center;}
    .dt-head-center {text-align: center;}
/* OR */

.table thead,
.table th {text-align: center;}
</style>

<script>

    $('#showData').click(function () {

        var report = $('#report').val();
        var d1 = $('#startDate').val();
         var d2 = $('#endDate').val();
        $.ajax({

            url: 'Reports/GetThis/',
            type: 'get',
            data: { name: report, start : d1, end : d2 },
            success: function (x) {

                $(document).ready(function () {
                    $('#Reports').html(x);

                });
                $('#userList').DataTable({

                    responsive: true,
                    lengthChange: false,
                     "order": [],
                    "sScrollX": "100%",
                    "scrollCollapse": true,
                    dom: 'lBfrtip',
                    buttons: [
                        {
                            extend: 'print',
                            title: '',
                            customize: function (win) {
                                $(win.document.body)
                                    .css({ 'font-size': '15pt' })
                                    .prepend(
                                        '<h1 id="header"></h1><img  style="margin-left:250px; height:150px; text-align:center; z-index:5000; width:150px; top:0; left:0;" src="https://i.ibb.co/kMCSXcL/jpp.jpg" />'
                                    );

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                   
                            }
                        }, 'excelHtml5', {
                            extend: 'pdf',
                            download: 'open',
                        }
                    ]

                });

            }
        });



    });





</script>

<script>

</script>
<script src="~/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.buttons.min.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.print.min.js"></script>

<script src="~/DataTables-1.10.18/js/pdfmake.min.js"></script>
<script src="~/DataTables-1.10.18/js/vfs_fonts.js"></script>
<script src="~/DataTables-1.10.18/js/buttons.html5.min.js"></script>
<script src="~/DataTables-1.10.18/js/jszip.min.js"></script>
<script src="~/DataTables-1.10.18/js/dataTables.responsive.min.js"></script>
<script src="~/DataTables-1.10.18/js/responsive.bootstrap4.min.js"></script>

<link href="~/DataTables-1.10.18/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/button.css" rel="stylesheet" />
<script src="~/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
