
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/Client.cshtml";
}


<section id="main-content">
    <section class="wrapper">


        <h2>Sucessfully Checked out</h2>
    </section>
</section>