
@{
    ViewData["Title"] = "CheckoutSuccess";
    Layout = "~/Views/Shared/Client.cshtml";
}
@model string

<section id="main-content">
    <section class="wrapper">


        <h2>@Model</h2>
    </section>
</section>