
@{
    ViewData["Title"] = "NoItemsInCart";
    Layout = "~/Views/Shared/Client.cshtml";
}



<section id="main-content">
    <section class="wrapper">
        <h2>No items in cart</h2>
    </section>
</section>

