@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "Client";
}
@model IEnumerable<Service>


<section id="main-content">
    <div class="wrapper">
        <center> <h1>Quotation Services</h1></center>
        @{

            foreach (var service in Model)
            {



                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                        

                        </div>
                        <div class="card-body-c">

                                    <p class="content-c">
                                        <h2>@service.Name</h2>
                                        @service.Description <br />
                                      Price: P @service.Price
                                    </p>
                            <a style="padding:5px;  border: 2px solid #2eca6a; border-radius:5px" asp-action="QuotationService" asp-controller="Service" asp-route-id="@service.ServiceId">Apply</a>  <br><br>
                        </div>
                        <div class="card-footer-c">
                            <a href="#" class="link-c link-icon">

                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }

        }


    </div>
    </section>

    <hr>

    <br /><br /><br /><br />

