@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "BackEnd";
}
@model Service

    <section id="main-content"> 
         <div class="wrapper">
    <div class="row mt">

        <div class="col-lg-12">

            <div class="form-panel">
                <div class="form">
                    <div class="alert alert-danger validation" asp-validation-summary="All"></div>
                    
                    <form class="cmxform form-horizontal style-form" id="signupForm" asp-action="Create" asp-controller="Service" method="post">
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-2">Name</label>
                            <div class="col-lg-10">
                                <input asp-for="Name" class="form-control" id="firstname" type="text" />
                            </div>
                        </div>
                    <div class="form-group ">
                            <label for="username" class="control-label col-lg-2">Price per workers</label>
                            <div class="col-lg-10">
                                <input asp-for="Price" class="form-control " id="username"  type="text" />
                            </div>
                    </div>
                       <div class="form-group ">
                            <label for="username" class="control-label col-lg-2">Requirements</label>
                            <div class="col-lg-10">
                                <input asp-for="Price" class="form-control " id="username"  type="text" />
                            </div>
                    </div>

                    <div class="form-group ">
                            <label for="username" class="control-label col-lg-2"></label>
                            <div class="col-lg-10">
                                <input asp-for="Price" class="form-control " id="username"  type="text" />
                            </div>
                    </div>


                        <div class="form-group ">
                            <label for="username" class="control-label col-lg-2">Service Price</label>
                            <div class="col-lg-10">
                                <input asp-for="Price" class="form-control " id="username"  type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label col-lg-2">Description</label>
                            <div class="col-lg-10">
                                <input asp-for="Description" class="form-control " id="password"  type="text" />
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-theme" type="submit">Save</button>
                                <button class="btn btn-theme04" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form-panel -->
        </div>
        <!-- /col-lg-12 -->
    </div>
    <script>


    if ($('.validation').text().trim() == "") {
        $('.validation').hide();
    }



    </script>
         </div>
         </div>

    